
/*html,body{height:100%;overflow:hidden;}*/


#header{
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    opacity: 0.7;
    z-index: 6;
    position: fixed;
    top: 0;
    display: none;
    /*display: none;*/
}
.header-img1 img{
    margin-left: 30px;
    height: 60px;
    float: left;

}
.header-img2 img{
    width: 40px;
    margin: 15px 0;
    float: right;
    cursor: pointer;
    position: relative;
    right: 30px;

}
#home {
    width: 100%;
    /*height: 100%;*/
    background-image: url("../img/timg.jpg");
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
}
.nav{
    position: absolute;
    text-align: center;
    width: 300px;
    left: 50%;
    top: 50%;
    /*height: 250px;*/
    padding: 65px 0;
    background: rgba(255, 255, 255, 0.6);
    outline: 4px double #FFFFFF;
    outline-offset: 8px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.nav h1{
    line-height: 40px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab';
    /*font-style: normal;*/
    font-weight: 300;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/y7lebkjgREBJK96VQi37ZvZraR2Tg8w2lzm7kLNL0-w.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

.typed{
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #6E6E6E;
    display: block;
    height: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Fl4y0QdOxyyTHEGMXX8kcYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
.mouse{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #0f0f0f;
    background: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    opacity: 0.4;


}
.mouse-small i{
    display: inline-block;
    font-size: 15px;


}

@media (max-width: 1200px) {
    #home{
        width: 100%;
        /*height: 100%;*/
        background: url("../img/timg.jpg") no-repeat;
        background-size: cover;
        /*position: absolute;*/
        /*top: 0;*/
    }
}
@media (max-width: 400px) {
    #home .nav{
        width: 280px;
        padding:40px 0;
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);

    }

}
#about{
    height: 650px;

}
.about-img{
    width: 50%;
    height: 650px;
    background: url("../img/reza.jpg") no-repeat;
    background-size: cover;
    float: left;

}
.about-title{
    width: 50%;
    height: 650px;
    float: right;
    background: #FFFFFF;
    position: relative;
}
#content  li{
    display: none;
}
#content .selected{
    display: block;
}
#content h4{
    margin-top: 30px;
}
/*.about-title p{*/

    /*margin: 200px auto;*/
    /*width: 50%;*/
    /*font-size: 13px;*/
    /*line-height: 34px;*/
    /*letter-spacing: 0.5px;*/
    /*font-weight: 300*/
/*}*/
.progress{
    width: 100%;
}
#card ul{
   position: absolute;
    left: 47%;
    bottom: 60px;
}
#card li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #CCCCCC ;
    float: left;
    margin:0 8px ;
    cursor: pointer;

}
#card .selected{
    background: #000;
}
#card li:hover{
    background: #000;

}
.about-title-form{
    margin:200px auto;
}
.about-title-form td{
    font-size: 13px;
    line-height: 34px;
    letter-spacing: 1px;
    font-weight: 300;
    color: #6E6E6E;

}
.about-title-form .title{
    font-size: 15px;
    line-height: 34px;
    letter-spacing: 1px;
    font-weight: 600
}
.wrap{
    margin: 0 auto;
}
.work-concent{
    padding: 100px 0;
    overflow: hidden;
    background: #f6f6f6;
}
#work .wrap{
    width: 1170px;
    text-align: center;
}
#work-title{
    margin: 30px 0;
    display: inline-block;
    overflow: auto;
}
#work-title li{
   padding: 10px 10px;
    margin: 10px;
    background: #f6f6f6;
    border-radius: 25%;
    float: left;
    display: inline;
    cursor: pointer;
}
#work-title .selected{
    background: #6D84B4;
}
/*.work-block{*/
    /*float: left;*/
/*}*/

#work-blocks img{
    float: left;
    margin: 20px 25px;
    width: 330px;
    height: 310px;
    transition: all 0.5s;
    cursor: pointer;


}

#work-blocks img:hover{
    box-shadow: 15px 15px 10px rgba(50, 50, 50, .4);
    transform: scale(1.1) rotate(0deg);
}

#work-blocks ul{
    display: none;
}

#work-blocks .selected{
    display: block;
}


@media (max-width: 1169px) {
    #work .wrap{
        width: 990px;
    }
    #work img{
        margin: 10px 15px;
        width: 300px;
        height:280px;

    }
}
@media (max-width: 965px) {

    #work .wrap{
        width: 780px;
    }
    #work img{
        margin: 15px 20px;
        width: 350px;
        height: 330px;
    }
    
}


@media (max-width: 780px) {

    #about{
        height: 1300px;
        /*overflow: hidden;*/
    }
    #about .about-img{
        width: 100%;
        height: 650px;
        background: url("../img/reza.jpg") no-repeat;
        background-size: cover;
        float: left;

    }
    #about .about-title{
        width: 100%;
        height: 650px;
        float: left;
        background: #FFFFFF;
        position: relative;
    }
    #work .wrap{
        width: 80%;
    }
    #work img{
        width: 80%;
        height: 80%;
    }


}


 #bg-img{
    width: 100%;
    height: 350px;
    background-image: url("../img/bgg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#bg-content div{
    width: 60%;
    margin: auto;
    padding: 100px;
    font-size: 19px;
    color: #ffffff;
    display: none;
}
#photo ul{
    position: absolute;
    left: 47%;
    bottom: 60px;
}
#photo li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff ;
    float: left;
    margin:0 8px ;
    cursor: pointer;

}
#photo .selected{
    display: block;
}
#photo ul .selected{
    background: #000;
}

#photo li:hover{
    background: #000;
}


@media (max-width: 750px) {
    #bg-content div{
        width: 90%;
        margin: auto;
    }

}

@media (max-width: 530px) {
    #bg-img{
        width: 100%;
        height: 500px;

    }
    #bg-content div{
        width: 100%;
        margin: auto;
    }
}

#item{
    width: 100%;
    padding: 100px 0;
    background: #f6f6f6;
    text-align: center;
}
#tabs{
    margin: 30px 0;
    display: inline-block;
    overflow: auto;
}
#tabs li{
    width: 170px;
    height: 200px;
    /*padding: 35px;*/
    margin: 50px;
    background:#ffffff;
    border-radius: 10%;
    float: left;
    font-size: 20px;
    display: inline;
    cursor: pointer;
    position: relative;
    border: solid 2px #000000;
    /*outline: 4px double #000000;*/
}
#tabs i{
    width: 170px;
    margin: 20px 0;
}
#tabs span{
    width:166px;
    padding: 20px 0;
    position: absolute;
    /*background: #cdcdcd;*/
    border-bottom-right-radius:17px;
    border-bottom-left-radius:17px;
    left: 0;
    bottom: 0px;

}

@media (max-width: 1124px) {
    #tabs{
        width: 560px;
    }
}

@media (max-width: 555px) {
    #tabs{
        width: 280px;
    }

}
#item-photo{
    display: none;
}

#item-photo div{
    display: none;
}
#item-photo .selected{
    display: block;
}
#item-photo h1{
    margin: 40px 0;

}
#item img{
    width: 400px;
    height: 300px;
    margin: 20px;
}



#fellow{
    padding: 100px 0;
    color: #ffffff;
    background: #6ed3cf;
}

#fellow .form-text{
    opacity: 0.8;
    color: #0493bd;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 0;
    line-height: 22px;
    background-color: #ffffff;
    border: 3px solid #fbfbfb;
    padding: 13px 13px 13px 55px;
    margin: 15px;
    width: 40%;
}
#fellow textarea{
    height: 100px;
}
#button{
    font-family: 'Lato',sans-serif;
    width: 40%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    /*padding:22px 50px;*/
    padding-top: 22px;
    padding-bottom: 22px;
    /*-webkit-transition: all 0.3s;*/
    /*-moz-transition: all 0.3s;*/
    /*transition: all 0.3s;*/
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function:linear;
}


#down{
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #c74044;
    line-height: 40px;
    color: #fff;
    text-align: center;
    position: fixed;
    right: 40px;
    bottom: 40px;
    cursor: pointer;

}
#tops .fa fa-arrow-up{
    display: inline-block;

}
#menu{
    width: 280px;
    background: #333;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 7;
    display: none;
}
#menu .title{
    color: #cccccc;
    padding: 40px;
}
#menu h2{
    color: #ffffff;
    margin-bottom:20px ;
}
#menu li {
    color: #cccccc;
    padding: 10px 0;
    cursor: pointer;
}
#menu li:hover{
    color: #ffffff;

}
#menu i{
    font-size: 30px;
    float: right;
}









