.carousel-container {
    width: 520px;
    height: 280px;
    position: relative;
}
.carousel-tabs{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.carousel-tabs li{
    width: 20px;
    height: 20px;
    background: #000;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;
    color: #FFFFFF;
    float: left;
    cursor: pointer;
}
.carousel-tabs li.selected{
    background: orange;
}
.carousel-imgs img{
    display: none;
}
.carousel-imgs img.selected{
    display: block;
}
.carousel-arrows{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.carousel-arrows .carousel-prev, .carousel-arrows .carousel-next{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;
    background: #000000;
    color: #FFFFFF;
    float: left;
    cursor: pointer;
}
.carousel-arrows .carousel-prev.bottom{
    left: 10px;
    bottom: 10px;
}
.carousel-arrows .carousel-next.bottom {
    left: 35px;
    bottom: 10px;
}

.carousel-arrows .carousel-prev.center{
    top: 50%;
    margin-top: -10px;
    left: 0;
}
.carousel-arrows .carousel-next.center{
    top: 50%;
    margin-top: -10px;
    right: 0;
}
