#home{
    width: 100%;
    height: 100%;
}
#header{
    width: 100%;
    height: 100px;
    border-top: 2px solid #CCCCCC;
    position: relative;

}
.menu{
    height: 100px;
    width: 30%;
    padding: 0 36px;
    float: left;
    position: absolute;
}
.s_menu{
    height:46px;
    position: absolute;
    top: 25%;
    cursor: pointer;

}
.menu img{
    float: left;
}
.menu span{
    padding-left: 3px;
    font-size: 12px;
    float: left;
    text-align: center;
}
.logo{
    height: 100px;
    width: 432px;
    position: absolute;
    left: 35%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.logo img{
    margin-top: 14px;
    width: 72px;
    height: 72px;
}
.member{
    height: 100px;
    width: 30%;
    padding: 0 36px;
    float: right;

}
.member1{
    float: right;
    margin-top: 25px;
}
.member span{
    font-size: 16px;
    color: #4e4e4e;
}
.member1 a{
    font-weight: 800;
    color: #b89f7a;
    cursor: pointer;
}
@media (max-width:1440px ) {
    #header{
        width: 100%;
    }
    .menu{
        padding: 0 2.5%;
        width: 30%;
    }
    .logo{
        width: 30%;
    }
    .member{
        padding: 0 2.5%;
        width: 30%;
    }
}
@media (max-width: 767px) {
    .member span{
        line-height: 15px;
        font-size: 12px;
    }

}
#bg_coffee{
    position: relative;
}
#bg_coffee .imgs1 {
    width: 100%;
    display: block;
    cursor: pointer;
}
#bg_coffee .imgs2{
    width: 100%;
    display: none;
    cursor: pointer;
}
#bg_coffee .ad{
    font-size:14px ;
    padding: 2px 5px;
    line-height: 21px;
    text-align: center;
    background: #000000;
    opacity: .7;
    color: #CCCCCC;
    position: absolute;
    top:20px;
    right: 40px;
}
#bg_coffee .more{
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
@media (max-width: 1440px) {
    #bg_coffee .imgs1{
        display: block;
    }
    #bg_coffee .imgs2{
        display: none;
    }
}
@media (max-width: 990px) {
    #bg_coffee .imgs1{
        display: none;
    }
    #bg_coffee .imgs2{
        display: block;
    }
    #bg_coffee .ad{
        font-size: 12px;
        line-height: 16px;
        padding:  2px;
        right: 20px;
    }
    #bg_coffee .more{
        font-size: 14px;
        right: 10px;
        bottom: 10px;
    }
}
#club{
    background: #0f0f0f;

}
.container{
    margin-right: 120px;
    margin-left: 120px;
    padding-left: 15px;
    padding-right: 15px;
}
#club .container{
    position: relative;
}
.club-mask{
    width: 350px;
    height: 220px;
    background:url(../img/rewards_bg的副本.png) no-repeat ;
    background-size: contain;
    margin-left: 200px;
    position: relative;

}
.club-mask-small{
    width: 160px;
    height: 59px;
    position: absolute;
    top:75px;
    left: 100px;

}
.club-mask img{
    width: 160px;
}
.club-mask p{
    font-size: 18px;
    color: #FFFFFF;
}
.club-content{
  position: absolute;
    top: 50px;
    left: 580px;

}
.club-content-title{
    color: #FFFFFF;
    font-size: 26px;
}
.club-content-text{
    color: #FFFFFF;
}
.club-content-btn{
    margin-top: 25px;
}
.club-content-btn a{
    font-size: 14px;
    font-weight: 700;
    color: #a98e67;
    border: 2px solid #a98e67;
    padding: 14px 40px;
    cursor: pointer;
}
.club-content-btn span{
    font-size: 16px;
    color: #a98e67;
    margin-left: 45px;
    cursor: pointer;
}
@media (max-width: 1440px) {
    #club{
        width: 100%;
    }
    #club .container{
        margin-right: 8.33%;
        margin-left: 8.33%;
    }
    #club .club-mask{
        margin-left: 13.88%;
    }
    #club .club-mask-small{
        left: 7%;
    }

}

#app{
    background:url(../img/app_bg.gif) repeat scroll center;
}
#app .container{
    position: relative;
}
.app-phone img{
    margin-left: 100px;
    margin-top: 20px;
    height: 200px;
}
.app-download{
    position: absolute;
    top: 10px;
    left: 450px;

}
.code img{
    width:130px;
}

.android {
    width: 100px;
    height: 36px;
    position: absolute;
    bottom: -60px;
    right: -120px;
}
.android a{
    height: 36px;
    line-height: 36px;
    margin-top: 10px;
    font-size: 20px;
    color: #999999;
}
.android p{
    font-size: 13px;
    width: 70px;
    float: right;
    margin-right: 8px;
    padding-left: 5px;
    border-left: 1px solid #000000;

}
.app-content{
     position: absolute;
     top: 30%;
     right: 20px;

 }
.app-content-text{
    width: 450px;
    font-size: 24px;
    color: #3d3d3d;
    margin-bottom: 5px;
}
.app-content span{
    font-size: 14px;
    color: #b89f7a;
}
#banner img{
    width: 100%;
    display: block;
}
#mosaic{
    position: relative;
    width: 100%;
    height: 713px;
}
.mosaic-cat{
    position: absolute;
    top: 0;
    left: 0;
}
.mosaic-cat img{
    width:720px;
    height: 713px;
}
.mosaic-coffee{
    position: absolute;
    top:0;
    right: 0;
}
.mosaic-coffee img{
    width:720px;
    height:713px;
}
#mosaic h2{
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    bottom: 90px;

}
#mosaic h3{
    font-size: 13px;
    color: #a98e67;
    text-align: center;
    position: relative;
    bottom: 90px;
}
#wsg{
    width: 100%;
    height: 222px;
    background: #106e4b;
}
#wsg .container{
    position: relative;
}
.wsg-left{
    width: 390px;
    height: 200px;
    position: absolute;
    top: 10px;
    left:175px;

}
.wsg-right{
    width: 390px;
    height: 200px;
    position: absolute;
    top: 10px;
    right:175px;
}
.wsg-left-title{
    width: 175px;
    height: 90px;
    float: left;
    margin-top: 55px;
    margin-left: 40px;
    background: url("../img/wsg-title.png") no-repeat;
    background-size: contain;
}
.wsg-left-code{
    width: 106px;
    height: 106px;
    margin-top: 38px;
    margin-left: 25px;
    float: right;
    background: url("../img/wsg-qrcode的副本.png") no-repeat;
    background-size: contain;
}
.wsg-right-cup{
    width: 106px;
    height: 106px;
    margin-top: 38px;
    float: left;
    background: url("../img/wsg-cup.png")no-repeat;
    background-size: contain;
}
.wsg-right-title{
    width: 175px;
    height: 90px;
    float: right;
    margin-top: 55px;
    margin-right: 60px;
    background: url("../img/wsg-wording.png") no-repeat;
    background-size: contain;
}
#watch{
    background: url("../img/web-bg.png") repeat-x;
}
#watch .watch-img{
    width: 408px;
    height: 220px;
    margin-left: 70px;
    background: url("../img/web-iwatch-cn.png") center no-repeat;
    background-size: cover;
}
#watch .container{
    position: relative;
}
.watch-title{
    width: 480px;
    line-height: 1.8;
    position:absolute ;
    top:30px;
    left: 560px;
}
.watch-title p{
    width: 344px;
    font-size: 18px;
    color: #3d3d3d;
}
.watch-title span{
    font-size: 14px;
    color: #b89f7a;
}
.watch-code {
    position: absolute;
    right: 70px;
    top: 30px;
}
.watch-code img{
    width: 130px;
    height: 130px;

}
.watch-code span{
    font-size: 16px;
    font-weight: bold;
    margin-left: 18px;

}
#collection{
    background: #f5f5f5;
    padding: 100px 16px;
}
#collection h1{
    text-align: center;
}
.collection-title {
    font-size: 18px;
    margin: 20px 0 80px 0;
    text-align: center;
}
.collection-img{
    height: 280px;
    margin:  0 20px;
    position: relative;
}
#collection img{
    width: 240px;
    height: 160px;
}
#collection h2{
    width: 240px;
    font-size: 20px;
    text-align: center;
}
.collection-img1{
    width: 240px;
    height: 280px;
    border: 1px solid #CCCCCC;
    margin: 0 15px 15px 15px;

    position: absolute;
    top: 0;
    left: 0;
}
.collection-img2{
    width: 240px;
    height: 280px;
    margin: 0 15px 15px 15px;
    border: 1px solid #CCCCCC;
    position: absolute;
    top:0;
    left: 270px;


}
.collection-img3{
    width: 240px;
    height: 280px;
    margin: 0 15px 15px 15px;
    border: 1px solid #CCCCCC;
    position: absolute;
    top:0;
    left: 540px;

}
.collection-img4{
    width: 240px;
    height: 280px;
    margin: 0 15px 15px 15px;
    border: 1px solid #CCCCCC;
    position: absolute;
    top:0;
    left: 810px;
}
.collection-img p{
    width:240px;
    font-size: 15px;
    text-align: center;
}
#black{
    height: 608px;
    background: #060608;
}
.black-img{
    float: left;
}
.black-cell{
    width: 50%;
    float: right;
    margin: 160px 0;
    text-align: center;
}
.black-cell h3{
    font-size: 14px;
    letter-spacing: 3px;
    margin: 15px 0;
    color: #b89f7a;
}
.black-cell p{
    font-size: 19px;
    line-height: 28px;
    color: #707070;
}
.black-cell-btn{
    margin-top: 40px;
}
.black-cell-btn a{
    color: #b89f7a;
    border: 2px solid #b89f7a;
    padding: 14px 40px;
}
#menu{
    height: 800px;
    padding: 60px 0;
    background: #292929;
}
#menu h3{
    color: #FFFFFF;
}
#menu a{
    margin-top: 8px;
    color: #CCCCCC;
    display: block;
    cursor: pointer;
}
.menu-div1{
    height: 270px;
}
.menu-div2{
    height: 270px;
}
#menu .block-item{
    width: 292px;
    height: 270px;
    float: left;
}
.block-title img{
    width: 100px;
    height: 100px;
}
.block-title p{
    width: 100px;
    text-align: center;
    color: #CCCCCC;
    font-size: 10px;
}
.footer-title{
    float: left;
}
.footer-title p{
    font-size: 12px;
    color: #CCCCCC;
    margin-top: 100px;
}
.footer-title a{
    font-size: 12px;
}
.footer-title .china img{
    width: 15px;
}
.footer-img{
    float: right;
    margin-top: 130px;
}
.footer-img a{
    margin-left: 15px;
    float: left;
}