
#header{
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    opacity: 0.7;
    z-index: 6;
    position: fixed;
    top: 0;
    /*display: none;*/
}
.header-img1 img{
    margin-left: 30px;
    height: 60px;
    float: left;

}
.header-img2 img{
    width: 40px;
    margin: 15px 30px;
    float: right;
    cursor: pointer;
}
#home {
    width: 100%;
    background-image: url("../img/timg.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.nav{
    position: absolute;
    text-align: center;
    width: 300px;
    left: 50%;
    top: 50%;
    /*height: 250px;*/
    padding: 65px 0;
    background: rgba(255, 255, 255, 0.6);
    outline: 4px double #FFFFFF;
    outline-offset: 8px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.nav h1{
    line-height: 40px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab';
    /*font-style: normal;*/
    font-weight: 300;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/y7lebkjgREBJK96VQi37ZvZraR2Tg8w2lzm7kLNL0-w.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

.typed{
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #6E6E6E;
    display: block;
    height: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Fl4y0QdOxyyTHEGMXX8kcYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
.mouse{
    width: 30px;
    height: 40px;
    border: 2px solid #0f0f0f;
    background: #FFFFFF;
    border-radius: 13px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    opacity: 0.4;


}
.mouse-small{
    display: block;
    width: 3px;
    height: 5px;
    margin: 6px auto;
    border-radius: 4px;
    background: #999;
    -webkit-animation: finger 2s infinite;
    animation: finger 2s infinite;

    /*border-radius: 2px;*/


}

@media (max-width: 1200px) {
    #home{
        width: 100%;
        /*height: 100%;*/
        background: url("../img/timg.jpg") no-repeat;
        background-size: cover;
        /*position: absolute;*/
        /*top: 0;*/
    }
}
@media (max-width: 400px) {
    #home .nav{
        width: 280px;
        padding:40px 0;
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);

    }

}
#about{
    height: 650px;

}
.about-img{
    width: 50%;
    height: 650px;
    background: url("../img/reza.jpg") no-repeat;
    background-size: cover;
    float: left;

}
.about-title{
    width: 50%;
    height: 650px;
    float: right;
    background: #FFFFFF;
    position: relative;
}
#content div{
    display: none;
}
#content .selected{
    display: block;
}
.about-title p{

    margin: 200px auto;
    width: 50%;
    font-size: 13px;
    line-height: 34px;
    letter-spacing: 0.5px;
    font-weight: 300
}
#card ul{
   position: absolute;
    left: 47%;
    bottom: 60px;
}
#card li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #CCCCCC ;
    float: left;
    margin:0 8px ;
    cursor: pointer;

}
#card .selected{
    background: #000;
}
#card li:hover{
    background: #000;

}
.about-title-form{
    margin:200px auto;
}
.about-title-form td{
    font-size: 13px;
    line-height: 34px;
    letter-spacing: 1px;
    font-weight: 300;
    color: #6E6E6E;

}
.about-title-form .title{
    font-size: 15px;
    line-height: 34px;
    letter-spacing: 1px;
    font-weight: 600
}
.wrap{
    margin: 0 auto;
}
.work-concent{
    padding: 100px 0;
    overflow: hidden;
    background: #f6f6f6;
}
#work .wrap{
    width: 1170px;
    text-align: center;
}
.work-title{
    margin: 30px 0;
    display: inline-block;
    overflow: auto;
}
.work-title li{
   padding: 10px 10px;
    margin: 10px;
    background: #f6f6f6;
    border-radius: 25%;
    float: left;
    display: inline;
    cursor: pointer;
}
.work-title .selected{
    background: #6D84B4;
}
.work-block{
    float: left;
}
.work-img{
    float: left;
    /*width: 390px;*/
    /*height: 360px;*/
}
.work-block img{
    padding: 15px 20px;
    width: 350px;
    height: 330px;

}
@media (max-width: 1169px) {
    #work .wrap{
        width: 990px;
    }
    #work .work-img img{
        padding: 10px 15px;
        width: 300px;
        height:280px;

    }
}
@media (max-width: 965px) {

    #work .wrap{
        width: 780px;
    }
    #work .work-img img{
        padding: 15px 20px;
        width: 350px;
        height: 330px;
    }
    
}

@media (max-width: 780px) {

    #about{
        height: 1300px;
        /*overflow: hidden;*/
    }
    #about .about-img{
        width: 100%;
        height: 650px;
        background: url("../img/reza.jpg") no-repeat;
        background-size: cover;
        float: left;

    }
    #about .about-title{
        width: 100%;
        height: 650px;
        float: left;
        background: #FFFFFF;
        position: relative;
    }
    #work .wrap{
        width: 80%;
    }
    #work .work-img img{
        width: 80%;
        height: 80%;
    }


}


#photo .bg-img{
    width: 100%;
    height: 350px;
    background-image: url("../img/bgcolor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-content{

}
.bg-content p{
    width: 40%;
    margin: auto;
    padding: 100px;
    font-size: 19px;
    color: #cdcdcd;
    display: none;
}
#photo ul{
    position: absolute;
    left: 47%;
    bottom: 60px;
}
#photo li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff ;
    float: left;
    margin:0 8px ;
    cursor: pointer;

}
#photo .selected{
    display: block;
}
#photo ul .selected{
    background: #000;
}

#photo li:hover{
    background: #000;

}
#item{
    width: 100%;
    padding: 100px 0;
    background: #f6f6f6;
    text-align: center;
}
#tabs{
    margin: 30px 0;
    display: inline-block;
    overflow: auto;
}
#tabs li{
    padding: 70px;
    margin: 50px;
    background:#6D84B4 ;
    border-radius: 40%;
    float: left;
    font-size: 20px;
    display: inline;
    cursor: pointer;
}
#fellow{
    padding: 100px 0;
    color: #ffffff;
    background: #6ed3cf;
}

#fellow .form-text{
    opacity: 0.9;
    color: #0493bd;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    border: 3px solid #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin: 15px;
    width: 40%;
}
#fellow textarea{
    height: 100px;
}
#fellow .button{
    font-family: 'Lato',sans-serif;
    width: 46%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


